.icon svg {
    width: 2rem;
    height: 2rem;
    display: inline-block;
}
.icon {
    display: inline-block;
}

@media (min-width: 640px){
    .input_container * {
        border-radius: none !important;
    }
}